body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000;
  font-size: 30px; }

.calculator {
  width: 300px;
  margin: 50px auto;
  font-size: 30px;
  color: #FFFFFF;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: normal;
  overflow: auto; }

.display {
  width: 100%;
  text-align: right;
  font-size: 50px;
  line-height: 50px; }

.button {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 5px;
  color: #FFFFFF;
  background: #333333;
  border: none;
  position: relative;
  float: left;
  font-size: 28px; }
  .button--secondary {
    background: #A5A5A5; }
  .button--operation {
    background: #F09A38; }
  .button--double {
    width: 140px;
    border-radius: 30px; }

*:focus {
  outline: none; }

.calculator-display {
  position: relative;
  color: white;
  height: 40px;
}
  
.auto-scaling-text {
  display: inline-block;
}
  
.calculator-display .auto-scaling-text {
  padding: 0 30px;
  position: absolute;
  right: 0;
  transform-origin: right;
}